<h1 *ngIf="searchQuery && searchQuery.length">
  Search results for - <i>"{{ searchQuery }}"</i>
  <button
    mat-icon-button
    aria-label="Remove search query"
    (click)="onCancelClick()"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</h1>

<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryControl">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Publication/Release year</mat-label>
    <mat-select [formControl]="publicationYearControl">
      <mat-option [value]="ALL_PUBLICATION_YEARS"
        >All Publication/Release years</mat-option
      >
      <mat-option *ngFor="let year of publicationYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Sort By</mat-label>
    <mat-select [formControl]="sortControl">
      <mat-option [value]="SORT_BY_RELEVANCE">Relevance</mat-option>
      <mat-option *ngFor="let sort of sorts" [value]="sort.value">
        {{ sort.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="sub-filters">
    <mat-form-field appearance="outline">
      <mat-label>Price From</mat-label>
      <input
        matInput
        placeholder="Amount"
        type="number"
        [formControl]="priceFromControl"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price To</mat-label>
      <input
        matInput
        placeholder="Amount"
        type="number"
        [formControl]="priceToControl"
      />
    </mat-form-field>
  </div>

  <div class="sub-filters">
    <mat-form-field appearance="outline">
      <mat-label>Pages From</mat-label>
      <input
        matInput
        placeholder="Amount"
        type="number"
        [formControl]="pagesFromControl"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pages To</mat-label>
      <input
        matInput
        placeholder="Amount"
        type="number"
        [formControl]="pagesToControl"
      />
    </mat-form-field>
  </div>

  <div class="search-button">
    <button mat-raised-button color="primary" (click)="doSearch()">
      Search
    </button>
  </div>
</div>

<ng-container *ngIf="aggregations">
  <p *ngIf="hasMaxPrice() || hasAvgPrice() || hasMinPrice()">
    <ng-container *ngIf="hasMaxPrice()"
      >Maximum item price ${{ getMaxPrice() }} |&nbsp;</ng-container
    >
    <ng-container *ngIf="hasAvgPrice()"
      >Average item price ${{ getAvgPrice() }} |&nbsp;</ng-container
    >
    <ng-container *ngIf="hasMinPrice()"
      >Minimum item price ${{ getMinPrice() }}</ng-container
    >
  </p>

  <p *ngIf="hasPrices()">
    <span><b>Number of items by price range | </b></span>
    <span *ngFor="let price of getPrices(); let last = last">
      ${{ price.from }} - ${{ price.to }} ({{ price.count }})
      <ng-container *ngIf="!last">&nbsp;&nbsp;|&nbsp;&nbsp;</ng-container>
    </span>
  </p>

  <p *ngIf="hasSignificantPublisher()">
    <span><b>Significant publishers | </b></span>
    <span *ngFor="let publisher of getSignificantPublisher(); let last = last">
      <i>{{ publisher.key }}</i> ({{ publisher.count }})
      <ng-container *ngIf="!last">&nbsp;&nbsp;|&nbsp;&nbsp;</ng-container>
    </span>
  </p>
</ng-container>

<ng-container *ngIf="items; else noItems">
  <ng-container *ngIf="resultCount; else noResults">
    <p>Showing page {{ currentPage + 1 }} of {{ resultCount }} results.</p>

    <app-grid>
      <ng-container *ngFor="let item of items">
        <app-item [item]="item"></app-item>
      </ng-container>
    </app-grid>

    <p *ngIf="!resultCount">No results matching query and filters.</p>

    <mat-paginator
      [length]="resultCount"
      [pageSize]="pageSize"
      [pageIndex]="currentPage"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </ng-container>
  <ng-template #noResults>
    <h3>No results</h3>
  </ng-template>
</ng-container>

<ng-template #noItems>
  <p>Loading...</p>
</ng-template>
