<h1 *ngIf="searchQuery && searchQuery.length">
  Search results for - <i>"{{ searchQuery }}"</i>
</h1>

<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryControl">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Publication/Release year</mat-label>
    <mat-select [formControl]="publicationYearControl">
      <mat-option *ngFor="let year of publicationYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="search-button">
    <button mat-raised-button color="primary" (click)="search()">Search</button>
  </div>
</div>

<ng-container *ngIf="items; else noItems">
  <p>Showing page {{ currentPage + 1 }} of {{ resultCount }} results.</p>

  <app-grid>
    <ng-container *ngFor="let item of items">
      <app-item [item]="item"></app-item>
    </ng-container>
  </app-grid>

  <p *ngIf="!resultCount">No results matching query and filters.</p>

  <mat-paginator
    [length]="resultCount"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</ng-container>

<ng-template #noItems>
  <p>Loading...</p>
</ng-template>
