<h1 *ngIf="searchQuery && searchQuery.length">
  Search results for - <i>"{{ searchQuery }}"</i>
</h1>

<div>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryControl">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<p>Showing page {{ page }} of {{ results }} results.</p>

<ng-container *ngIf="items; else noItems">
  <app-grid>
    <ng-container *ngFor="let item of items">
      <app-item [item]="item"></app-item>
    </ng-container>
  </app-grid>
</ng-container>

<ng-template #noItems>loading...</ng-template>
