<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input
    matInput
    name="search"
    placeholder="Search..."
    autocomplete="off"
    [matAutocomplete]="auto"
    [formControl]="searchQueryControl"
    (keyup.enter)="onKeyUpEnter()"
  />
  <mat-autocomplete [displayWith]="displayWith" #auto="matAutocomplete">
    <mat-option
      *ngFor="let item of suggestions | async"
      [value]="item.document._source.name"
      (onSelectionChange)="onOptionSelect({ type: 'item', document: item })"
    >
      <ng-container *ngIf="item.type === 'author-suggestion'">
        <mat-icon>person</mat-icon>
        <b>{{ item.document._source.author }}:&nbsp;</b>
      </ng-container>
      <ng-container *ngIf="item.type === 'name-suggestion'">
        <mat-icon>book</mat-icon>
      </ng-container>
      <ng-container *ngIf="item.type === 'isbn'">
        ISBN: <b>{{ item.document._source["isbn-13"] }}</b
        >&nbsp;|&nbsp;
      </ng-container>
      <span>{{ item.document._source.name }}</span> |
      <i>{{ item.document._source.category }}</i> |
      <ng-container *ngIf="item.document._source.old_price; else samePrice">
        <small
          ><b>${{ item.document._source.price }}</b></small
        >&nbsp;
        <small
          >(<s>${{ item.document._source.old_price }}</s
          >)</small
        >
      </ng-container>
      <ng-template #samePrice>
        <small>${{ item.document._source.price }}</small>
      </ng-template>
    </mat-option>
    <ng-container *ngIf="searchQuery && searchQuery.length > 3">
      <mat-option
        [value]="searchQuery"
        (onSelectionChange)="onOptionSelect(searchQuery)"
        >Search for "{{ searchQuery }}"...</mat-option
      >
    </ng-container>
  </mat-autocomplete>
  <mat-icon matSuffix>search</mat-icon>
  <mat-hint>Search Author, Book Name, ISBN, Phrase...</mat-hint>
</mat-form-field>
