<div class="container">
  <div class="header">
    <div class="left-column">
      <h1>Book Shop</h1>
    </div>
    <div class="right-column">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
          matInput
          name="search"
          placeholder="Search..."
          autocomplete="off"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="content">
    <div class="filter"></div>
    <div class="items"></div>
  </div>
</div>

<router-outlet></router-outlet>
