@import "../colors";

.header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px 12px 8px 12px;
  border-bottom: 2px solid $primary;

  .left-column {
    display: flex;
    align-items: center;
  }

  .right-column {
    text-align: right;
  }
}

h1 > a,
h3 > a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  padding: 12px;
}
