<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/item', item._id]">{{ _item.name }}</a>
      <ng-container *ngIf="_item.release_date || _item.publication_date">
        <small
          >&nbsp;|
          {{ getYear(_item.release_date || _item.publication_date) }}</small
        >
      </ng-container>
      <ng-container *ngIf="_item.category">
        <small>&nbsp;| {{ _item.category }}</small>
      </ng-container>
    </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    (click)="onImageClick()"
    [alt]="_item.description"
    [src]="_item.image"
  />
  <mat-card-content>
    <span class="price">
      <span>Price: </span>
      <ng-container *ngIf="_item.old_price; else samePrice">
        <b>${{ _item.price }}</b
        >&nbsp; (<s>${{ _item.old_price }}</s
        >)
      </ng-container>
      <ng-template #samePrice>
        <span>${{ _item.price }}</span>
      </ng-template>
    </span>
    <span *ngIf="_item.average_rating"
      >&nbsp;| Rating: {{ _item.average_rating }}</span
    >
  </mat-card-content>
</mat-card>
